.expecard_container{
    width: 40%;
    padding: 8px 14px;
    background-color: #181818;
    box-shadow: -8px 8px 8px 0px lightslategray;
    margin: 50px 15px;
}
.expecard_title{
    text-align: center;
    font-size: 35px;
    font-size: 600;
}
.expecard_subtitle{
    font-size: 18px;
}
.expecard_sentance{
    font-size: 12px;
    padding: 10px;
}
.expe_card_techstack{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.expe_card_icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.expe_card_icons > image{
    height: 50px;
    margin: 0px 10px;
    padding-bottom: 20px;
}